* {
    background-color: #F0F0F0;
}
body {
    background-color: #F0F0F0;
}

/*BIG DOT SECTION START*/
.big-circles{
    border-bottom: 2px solid darkgrey;
    padding: 2em;
}
.dot {
    font-family: 'Anton', sans-serif;
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    border: 5px solid #ffff;
    display: inline-block;
    justify-content: space-between;
    color: white;
}
#dot-one{
    background-color: #E6563B;
}
#dot-two{
    background-color: #EB9D3A;
}
#dot-three{
    background-color: #7CB06C;
}
#dot-four{
    background-color: #00ABA9;
}
/*BIG DOT SECTION END*/

/*SMALL DOT SECTION START*/
.small-dot-one{
    background-color: #E6563B;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
.small-dot-two{
    background-color: #EB9D3A;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
.small-dot-three{
    background-color: #7CB06C;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px;
}
.small-dot-four{
    background-color: #00ABA9;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
/*SMALL DOT SECTION END*/

/*BORDERS FOR IMG START*/
.card-img-top{
    border: 5px solid #E6E6E6;
    height: 180px;
}
/*BORDERS FOR IMG END*/


/*MAIN CARD WITH ARTICLES START*/
.card{
    border-style: none;
}
.card-subtitle{
    font-family: 'Abel', sans-serif;
}
.card-title{
    font-family: 'Abel', sans-serif;
}
/*MAIN CARD WITH ARTICLES END*/

/*RIGHT SIDE CARD WITH ARTICLES START*/
#main-card{
    background-color: #F0F0F0;
    border-style: none;
    font-family: 'Anton', sans-serif;
}
.card-header {
    background-color: #F0F0F0;
    border-style: none;
    font-family: 'Abel', sans-serif;
}
.list-group-item {
    background-color: #F0F0F0;
    border-style: none;
}
.article-pic{
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
}
/*RIGHT SIDE CARD WITH ARTICLES END*/

/*HEADER*/
nav {
    font-family: 'Abel', sans-serif;
    padding: 1em;
    margin-top: 1em;
}
.visual {
    font-family: 'Anton', sans-serif;
}
.nav-link {
    color: black;
}
/*HEADER END*/
