body, .main-card, .list-group-item, .list-group, .card, h2{
    background: #F0F0F0;
}
.anton{
    font-family: 'Anton', sans-serif;
}

.abel{
    font-family: 'Abel', sans-serif;
}

.visual h5{
    line-height: 28px;
}

main .container{
    font-size: 12px;
}

.dot{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 5px solid #ffff;
    color: white;
    display: inline-block;
}
.small-dot{
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    display: inline-block;
}

.design{
    background: #E6563B;
}

.develop{
    background: #EB9D3A;
}

.support{
    background: #7CB06C;
}

.host{
    background: #00ABA9;
}

.card-body{
    padding: 0;
}

.selected-card{
    width: 17rem;
}

.list-group-item img{
    width: 50px;
    height: 50px;
}



#logo {
    width: 105px;
    height: 105px;
}


header {
    background-color: white;
}

.codeup{
    position: relative;
}

.codeup-design{
    width: 105px;
    position: absolute;
    bottom:-1em;
    left:-0.2em;
}

@media (min-width: 576px) { /*small*/


    .selected-card{
        width: 15rem;
        height: 13rem;
        margin-right: 5em;
    }

    .card-img-top{
        width: 100%;
        height: 10rem;
    }

    .navbar{
        margin-top:2em;
    }

    .logo{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px){ /*medium*/
    .selected-card{
        width: 13rem;
        height: 10rem;
    }

    .card-img-top{
        height: 8rem;
    }

    .main-card{
        margin-right: 2em;
        margin-left: 3em;
    }

    .codeup-design{
        width: 105px;
        position: absolute;
        bottom:2.5em;
        left:7em;
    }

    .logo{
        margin-left: 0;
        margin-right: auto;
    }

}

@media (min-width: 992px){ /*l-xl*/

}
/** {
    background-color: #F0F0F0;
}
body {
    background-color: #F0F0F0;
}

!*BIG DOT SECTION START*!
.big-circles{
    border-bottom: 2px solid darkgrey;
    padding: 2em;
}
.dot {
    font-family: 'Anton', sans-serif;
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    border: 5px solid #ffff;
    display: inline-block;
    justify-content: space-between;
    color: white;
}
#dot-one{
    background-color: #E6563B;
}
#dot-two{
    background-color: #EB9D3A;
}*/
/*
#dot-three{
    background-color: #7CB06C;
}
#dot-four{
    background-color: #00ABA9;
}
!*BIG DOT SECTION END*!

!*SMALL DOT SECTION START*!
.small-dot-one{
    background-color: #E6563B;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
.small-dot-two{
    background-color: #EB9D3A;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
.small-dot-three{
    background-color: #7CB06C;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px;
}
.small-dot-four{
    background-color: #00ABA9;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
!*SMALL DOT SECTION END*!

!*BORDERS FOR IMG START*!
.card-img-top{
    border: 5px solid #E6E6E6;
    height: 180px;
}
!*BORDERS FOR IMG END*!


!*MAIN CARD WITH ARTICLES START*!
.card{
    border-style: none;
}
.card-subtitle{
    font-family: 'Abel', sans-serif;
}
.card-title{
    font-family: 'Abel', sans-serif;
}
!*MAIN CARD WITH ARTICLES END*!

!*RIGHT SIDE CARD WITH ARTICLES START*!
#main-card{
    background-color: #F0F0F0;
    border-style: none;
    font-family: 'Anton', sans-serif;
}
.card-header {
    background-color: #F0F0F0;
    border-style: none;
    font-family: 'Abel', sans-serif;
}
.list-group-item {
    background-color: #F0F0F0;
    border-style: none;
}
.article-pic{
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
}
!*RIGHT SIDE CARD WITH ARTICLES END*!

!*HEADER*!
nav {
    font-family: 'Abel', sans-serif;
    padding: 1em;
    margin-top: 1em;
}
.visual {
    font-family: 'Anton', sans-serif;
}
.nav-link {
    color: black;
}
!*HEADER END*!
*/
