.polaroid{
    width: 10rem;
    height: 8rem;
}

.polaroid-text ul{
    display: flex;
    align-items: center;
    padding-inline-start: 0;
}

.polaroid-text ul li:nth-child(1){
    text-decoration: none;
    display: inline-block;
    margin-right: auto;

}

body, .main-card, .list-group-item, .list-group, .card, .bottom-nav, header{
    background: #F0F0F0;
}

.last-section{
    width: 360px;
}

.anton{
    font-family: 'Anton', sans-serif;
}

.abel{
    font-family: 'Abel', sans-serif;
}

.visual h5{
    line-height: 28px;
}

main .container{
    font-size: 12px;
}

.dot{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 5px solid #ffff;
    color: white;
    display: inline-block;
}
.small-dot{
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    display: inline-block;
}

.design{
    background: #E6563B;
}

.develop{
    background: #EB9D3A;
}

.support{
    background: #7CB06C;
}

.host{
    background: #00ABA9;
}

.card-body{
    padding: 0;
}

.selected-card{
    width: 17rem;
}

#logo {
    z-index: 1;
    width: 105px;
    height: 105px;
}

.navbar {
    z-index: 2;
}

.codeup{
    position: relative;
}

.codeup-design{ /*for logo*/
    width: 105px;
    position: absolute;
    bottom:-1.5em;
    left:-0.2em;
}

.navbar{
    height: 50px;
    margin-bottom: 1em;
    background: white;
}

header{
    padding-top: 30px;
}

header nav ul li a{
    color: black;
}

.logo{
    position: relative;
    top:-2em;
}

.main-card{
    margin:0 auto;
}

.fa-twitter{
    color: #38A1F3;
}
@media (max-width: 575px){
    .apple-card{
        margin:0 auto;
    }
}
@media (min-width: 576px) { /*small*/
    .last-section{
        width: 576px;
    }

    .circle{
        border-bottom: 1px solid darkgrey;
        padding-bottom: 2em;
        margin-bottom: 3em;
    }

    .selected-card{
        width: 15rem;
        height: 13rem;
        margin-right: 5em;
    }

    .card-img-top{
        width: 100%;
        height: 10rem;
    }

    .navbar{
        margin-top:2em;
    }

    .logo{
        margin-left: auto;
        margin-right: auto;
        top: 0.5em;
    }

    header{
        padding-top: 10px;
        margin-bottom: 5em;
    }

    .navbar-first{
        margin-left: 6em;
    }

    .navbar-second{
        margin-right: 6em;
    }
}

@media (min-width: 768px){ /*medium*/
    .last-section{
        width: 768px;
    }
    .circles{
        border-bottom: 1px solid darkgrey;
        padding-bottom: 2em;
        margin-bottom: 3em;
    }

    .selected-card{
        width: 10rem;
        height: 8rem;
    }

    .card-img-top{
        height: 6rem;
    }

    .main-card{
        margin-right: 2em;
        margin-left: 3em;
    }

    .codeup-design{
        width: 105px;
        position: absolute;
        bottom:3em;
        left:7em;
    }

    .logo{
        margin-left: 0;
        margin-right: auto;
    }

    .articles{
        line-height: 28px;
    }

    .article-pic{
        width: 40px;
        height: 40px;
        border: 2px solid #e6e6e6;
    }

    .small-dot{
        width: 10px;
        height: 10px;
        font-size: 5px;
        line-height: 10px;
        display: inline-block;
    }

    .featured{
        font-size: 8px;
    }

    .navbar-second{
        margin-left: 1em;
        margin-right: 2em;
    }

    .codeup{
        margin-left: 2em;
    }

    .apple-card, .man-card{
        float: right;
    }
}
@media (min-width: 992px){ /*l-xl*/
    .last-section{
        width: 992px;
    }
    .circles{
        border-bottom: 1px solid darkgrey;
        padding-bottom: 2em;
        margin-bottom: 3em;
    }

    .navbar-second{
        margin-left: 1em;
        margin-right: 15em;
    }

}

@media (min-width: 1200px) {
    .last-section{
        width: 1200px;
    }
}
@media (min-width: 576px){ /*small view*/

    .apple-man-card{
        margin-left: auto;
        margin-right: auto;

    }

    .mac-sec-card{
        margin-left:auto;
        margin-right: auto;

    }
}

/** {
    background-color: #F0F0F0;
}
body {
    background-color: #F0F0F0;
}

!*BIG DOT SECTION START*!
.big-circles{
    border-bottom: 2px solid darkgrey;
    padding: 2em;
}
.dot {
    font-family: 'Anton', sans-serif;
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    border: 5px solid #ffff;
    display: inline-block;
    justify-content: space-between;
    color: white;
}
#dot-one{
    background-color: #E6563B;
}
#dot-two{
    background-color: #EB9D3A;
}*/
/*
#dot-three{
    background-color: #7CB06C;
}
#dot-four{
    background-color: #00ABA9;
}
!*BIG DOT SECTION END*!

!*SMALL DOT SECTION START*!
.small-dot-one{
    background-color: #E6563B;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
.small-dot-two{
    background-color: #EB9D3A;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
.small-dot-three{
    background-color: #7CB06C;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px;
}
.small-dot-four{
    background-color: #00ABA9;
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    color: black;
    line-height: 18px
}
!*SMALL DOT SECTION END*!

!*BORDERS FOR IMG START*!
.card-img-top{
    border: 5px solid #E6E6E6;
    height: 180px;
}
!*BORDERS FOR IMG END*!


!*MAIN CARD WITH ARTICLES START*!
.card{
    border-style: none;
}
.card-subtitle{
    font-family: 'Abel', sans-serif;
}
.card-title{
    font-family: 'Abel', sans-serif;
}
!*MAIN CARD WITH ARTICLES END*!

!*RIGHT SIDE CARD WITH ARTICLES START*!
#main-card{
    background-color: #F0F0F0;
    border-style: none;
    font-family: 'Anton', sans-serif;
}
.card-header {
    background-color: #F0F0F0;
    border-style: none;
    font-family: 'Abel', sans-serif;
}
.list-group-item {
    background-color: #F0F0F0;
    border-style: none;
}
.article-pic{
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
}
!*RIGHT SIDE CARD WITH ARTICLES END*!

!*HEADER*!
nav {
    font-family: 'Abel', sans-serif;
    padding: 1em;
    margin-top: 1em;
}
.visual {
    font-family: 'Anton', sans-serif;
}
.nav-link {
    color: black;
}
!*HEADER END*!
*/
