body, .main-card, .list-group-item, .list-group, .card, .bottom-nav, header{
    background: #F0F0F0;
}

.last-section{
    width: 360px;
}

.anton{
    font-family: 'Anton', sans-serif;
}

.abel{
    font-family: 'Abel', sans-serif;
}

.visual h5{
    line-height: 28px;
}

main .container{
    font-size: 12px;
}

.dot{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 5px solid #ffff;
    color: white;
    display: inline-block;
}
.small-dot{
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    display: inline-block;
}

.design{
    background: #E6563B;
}

.develop{
    background: #EB9D3A;
}

.support{
    background: #7CB06C;
}

.host{
    background: #00ABA9;
}

.card-body{
    padding: 0;
}

.selected-card{
    width: 17rem;
}

#logo {
    z-index: 1;
    width: 105px;
    height: 105px;
}

.navbar {
    z-index: 2;
}

.codeup{
    position: relative;
}

.codeup-design{ /*for logo*/
    width: 105px;
    position: absolute;
    bottom:-1.5em;
    left:-0.2em;
}

.navbar{
    height: 50px;
    margin-bottom: 1em;
    background: white;
}

header{
    padding-top: 30px;
}

header nav ul li a{
    color: black;
}

.logo{
    position: relative;
    top:-2em;
}

.main-card{
    margin:0 auto;
}

.fa-twitter{
    color: #38A1F3;
}

.card-img-top{
    border: 5px solid #E6E6E6;
}

@media (max-width: 575px){ /*xs start*/
    h6{
        margin-right: auto;
        margin-left: auto;
    }
    .apple-card{
        margin:0 auto;
    }
    .navbar{
        height: 70px;
    }

    .logo{
        top:-1.5em;
    }
} /*xs end*/

@media (min-width: 576px) { /*small start*/
    hr{
        width: calc(105px * 4);
    }

    h6{
        margin-right: auto;
        margin-left: auto;
    }
    .codeup-design{
        font-size: 18px;
    }
    .last-section {
        width: 576px;
    }

    .circles {
        padding-bottom: 2em;
        margin-bottom: 3em;

    }

    .selected-card {
        width: 15rem;
        height: 13rem;
        margin-right: 5em;
    }

    .card-img-top {
        width: 100%;
        height: 10rem;
    }

    .navbar {
        margin-top: 2em;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        top: 0.5em;
    }

    header {
        padding-top: 10px;
        margin-bottom: 5em;
    }

    .navbar-first {
        margin-left: 6em;
    }

    .navbar-second {
        margin-right: 6em;
    }

    .apple-man-card {
        margin-left: auto;
        margin-right: auto;

    }

    .mac-sec-card {
        margin-left: auto;
        margin-right: auto;

    }

} /*small end*/

@media (min-width: 768px){ /*medium start*/
    hr{
        width: calc(430px + 250px);
    }

    h6{
        margin-right: 2em;
        margin-left: 0;
    }
    .codeup-design{
        line-height: 1em;
    }

    .last-section{
        width: 768px;
    }
    .circles{
        padding-bottom: 2em;
        margin-bottom: 3em;
    }

    .selected-card{
        width: 10rem;
        height: 8rem;
    }

    .card-img-top{
        height: 6rem;
    }

    .main-card{
        margin-right: 2em;
        margin-left: 3em;
    }

    .codeup-design{
        width: 105px;
        position: absolute;
        bottom:3em;
        left:7em;
    }

    .logo{
        margin-left: 0;
        margin-right: auto;
    }

    .articles{
        line-height: 28px;
    }

    .article-pic{
        width: 40px;
        height: 40px;
        border: 2px solid #e6e6e6;
    }

    .small-dot{
        width: 10px;
        height: 10px;
        font-size: 5px;
        line-height: 10px;
        display: inline-block;
    }

    .featured{
        font-size: 8px;
    }

    .navbar-second{
        margin-left: 1em;
        margin-right: 2em;
    }

    .codeup{
        margin-left: 2em;
    }

    .apple-card, .man-card{
        float: right;
    }
} /*medium end*/
@media (min-width: 992px){
    .logo{
        margin-left: 15vw;
    }
}
@media (min-width: 1200px) { /*XL start*/
    .main-card{
        padding-left: 15em;

    }

    .card-img-top{
        width: 200px;
        height: 110px;
        border: 5px solid #E6E6E6;
    }

    .last-section{
        width: 1200px;
    }
}/*L-XL END*/




